@model Data.DTO.BlogDTO;
@{
    Layout = "_LayoutSuperAdmin";
}

<div class="row flex-grow">
    <div class="col-12 grid-margin stretch-card">
        <div class="card card-rounded">
            <div class="card-body">
                <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                        <h4 class="card-title card-title-dash">Chỉnh sửa tin tức</h4>
                        <p class="card-subtitle card-subtitle-dash"></p>
                    </div>
                </div>
                <div class="table-responsive  mt-1">
                    <form method="post" enctype="multipart/form-data" accept-charset="UTF-8">
                        <input type="text" asp-for="@Model.ID" id="ID" name="ID" hidden />
                        <input type="text" asp-for="@Model.Img" id="Img" name="Img" hidden />
                        <input type="datetime-local" asp-for="@Model.Date" id="Date" name="Date" value="@Model.Date.ToString("yyyy-MM-ddTHH:mm")" hidden/>

                        <div>
                            <label for="title" style="font-weight: bold;">Tiêu đề</label>

                            <textarea class="form-control my-3" id="Tilte" name="Tilte" asp-for="@Model.Tilte" style="height: 200px;" rows="2" maxlength="200" required></textarea>

                        </div>
                        <div>
                            <label for="description" style="font-weight: bold;">Tiêu đề</label>

                            <textarea class="form-control my-3" id="description" name="description" asp-for="@Model.Description" style="height: 200px;" rows="2" required></textarea>

                        </div>
                        <div>
                            <label for="image" style="font-weight: bold;">Chọn ảnh (jpg, jpeg, png, gif):</label>
                            <input class="form-control my-3" type="file" id="ImgFile" name="ImgFile" asp-for="@Model.ImgFile" accept=".jpg, .jpeg, .png, .gif" style="width:600px; height:auto" required onchange="readURL(this)" />
                            <img class="intro-img img-fluid mb-3 rounded" id="ImgPreview" style="width:600px; height:auto" src="@Model.Img" alt="..." />
                        </div>

                        <div>
                            <button class="btn btn-primary btn-xl btn-color" type="submit">Lưu</button>
                        </div>
                    </form>
                    <a asp-controller="Blog" asp-action="BlogListSP" class="primary mt-3">Danh sách tin tức</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#ImgPreview').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>