@model PageSz<Data.DTO.AccountStudentDTO>;
@{
    Layout = "_LayoutAdmin";
}

<div class="row flex-grow">
    <div class="col-12 grid-margin stretch-card">
        <div class="card card-rounded">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="card-title card-title-dash">Danh sách học sinh</h4>
                        <p class="card-subtitle card-subtitle-dash">Bạn đang có @Model.CountItem học sinh</p>
                    </div>

                    <div class="row justify-content-end">
                        <div class="col-md-7 ms-auto">
                            <form method="get" asp-action="StudentList" class="d-flex">
                                <input class="form-control me-2" type="text" placeholder="Tìm kiếm" aria-label="Search" style="height: 45px; width:250px; font-size:14px" name="search" value="@Model.searchString">
                                <button class="btn btn-primary" style="height: 45px; width:170px;  font-size:14px" type="submit">Tìm kiếm</button>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-primary btn-md text-white mb-0 ms-2" asp-action="Create" asp-controller="StudentList" style="height: 45px; width:130px; font-size:14px">
                                <i class="mdi mdi-account-plus me-2"></i>Tạo mới
                            </a>
                        </div>
                    </div>

                </div>

                <div class="table-responsive  mt-1">
                    <table class="table select-table">
                        <thead>
                            <tr>
                                <th style="width: 11.111%">@Html.DisplayNameFor(model => model.list.FirstOrDefault().Username)</th>
                                <th style="width: 11.111%">@Html.DisplayNameFor(model => model.list.FirstOrDefault().Email)</th>
                                <th style="width: 11.111%">@Html.DisplayNameFor(model => model.list.FirstOrDefault().FullName)</th>
                                <th style="width: 11.111%">@Html.DisplayNameFor(model => model.list.FirstOrDefault().BirthDay)</th>
                                <th style="width: 11.111%">@Html.DisplayNameFor(model => model.list.FirstOrDefault().PhoneNumber)</th>
                                <th style="width: 11.111%">@Html.DisplayNameFor(model => model.list.FirstOrDefault().Address)</th>
                                <th style="width: 11.111%">@Html.DisplayNameFor(model => model.list.FirstOrDefault().EducationName)</th>
                                <th style="width: 11.111%">@Html.DisplayNameFor(model => model.list.FirstOrDefault().ClassName)</th>
                                <th style="width: 11.111%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Data.DTO.AccountStudentDTO item in Model.list)
                            {
                                <tr>
                                    <td>
                                        @item.Username
                                    </td>
                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        @item.FullName
                                    </td>
                                    <td>
                                        @item.BirthDay
                                    </td>
                                    <td>
                                        @item.PhoneNumber
                                    </td>
                                    <td>
                                        @item.Address
                                    </td>
                                    <td>
                                        @item.EducationName
                                    </td>
                                    <td>
                                        @item.ClassName
                                    </td>
                                    <td style="width:300px">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <a class="btn btn-primary text-center text-white mb-0 me-0" style="width:100px; font-size:14px" asp-action="EditStudent" asp-controller="Student" asp-route-username="@item.Username">
                                                    Chỉnh sửa
                                                </a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <nav aria-label="Page navigation example">
                    @if (Model.CountPage != 1)
                    {
                        <ul class="pagination justify-content-end">
                            @if (Model.PageNumber > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link mmc-color" href="@Url.Action("StudentList", new { pageNumber = Model.PageNumber - 1, search = Model.searchString })">Trước</a>
                                </li>
                            }
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    @for (int i = 1; i <= Model.CountPage; i++)
                                    {
                                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                            <a class="page-link mmc-color" href="@Url.Action("StudentList", new { pageNumber = i, search = Model.searchString })">@i</a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                            @if (Model.PageNumber < Model.CountPage)
                            {
                                <li class="page-item">
                                    <a class="page-link mmc-color" href="@Url.Action("StudentList", new { pageNumber = Model.PageNumber + 1, search = Model.searchString })">Sau</a>
                                </li>
                            }
                        </ul>
                    }
                </nav>

            </div>
        </div>
    </div>
</div>