@model Home;
@{
    ViewData["Title"] = "Home Page";
    int count = 0;
}
<style>
    #limitedDescription {
        max-width: 400px; /* Đặt giới hạn chiều rộng theo nhu cầu của bạn */
        max-height: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        /* white-space: nowrap; */
    }

</style>
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="@Model.About?.Img" alt="..." />

                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Quản lý xuất ăn bán trú</span>
                        <span class="section-heading-lower">MMC system</span>
                    </h2>
                <div ></div>

                <p class="mb-3" id="limitedDescription">@Model.About?.Description</p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl btn-color" asp-controller="Home" asp-action="About">Về chúng tôi!</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section">
            <h1 class=" mmc-color text-center site-heading-upper">Danh sách tin tức</h1>
            <div class="row">
                
                    @foreach (Data.Models.Blog item in Model.Blogs)
                    {
                        if (count < 4)
                        {
                            <div class="col-lg-3 col-md-6 col-sm-12 m-2 rounded border shadow p-0 card-item custom-card">
                                <img class="img-fluid rounded" src="@item.Img" alt="..." style="width: 100%;" />
                                <div class="card-body p-2">
                                    <div class="mmc-color fs-4 my-2">@item.Tilte</div>
                                    <div class="text-muted small my-2">@item.Date.ToString("dd/MM/yyyy HH:mm")</div>
                                    <div class="truncate-text my-2">@item.Description</div>
                                    <a class="btn button-login my-2" style="color: #ef7714;" href="store.html">Đọc thêm</a>
                                </div>
                            </div>

                            count++;
                        }
                        else
                        {
                            break; // Dừng vòng lặp khi đã hiển thị 4 bài
                        }
                    }
            </div>
    <div class="d-flex justify-content-center my-3">
        <a class="btn btn-login" style="color: white; background-color: #ef7714;" asp-controller="Blog" asp-action="Index">Xem tất cả</a>
    </div>
</section>
